/*Основной колір тексту #757575 */

/*Другорядний колір тексту #212121 */

/*Колір Веб студіо блакитний #2196F3
 темний #000000; */
 /* Колір тексту білий #FFFFFF */
/* Колір тексту ссилок футер  rgba(255, 255, 255, 0.6)*/
body {
    color: #212121;
    font-family: 'Roboto', sans-serif;
}
.accent{ 
    color: #2196F3;
}
.logo{
    color: #000000;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
}
.site-nav{
    list-style: none;
}
.site-nav .link{
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.auth-nav{
    list-style: none;
}
.auth-nav .link{
    color: #757575;
    text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196F3;
}
/*--Hero--*/
.hero-title{
    color: #FFFFFF;
    background-color: #212121;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
.button{
    color: #FFFFFF;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 1.88;
}
.button .link:focus,
.button .link:hover{

}
/*--Section--*/
.section{

}
.section-title{
   
}
/*--Feutures--*/
.feature-list{
    list-style: none;
}
.title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.text{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/* work*/
.work{
    font-size: 36px;
    line-height: 1.17x;
    letter-spacing: 0.03em;
}
.work-logo{
    list-style: none;
}

/*---Team--*/
.section-team{

}
.team{
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.team-logo{
    list-style: none;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.03em;
}
.profession{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.03em;
}
/*Footer*/
.footer{
    background-color: #2F303A;
}
.footer-link:hover,
.footer-link:focus{
    color: #2196F3;

}
.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6)
   
    
}; 
.footer-title .adres-link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}   
.footer-title{
    list-style: none;font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.adres-link:hover,
.adres-link:focus{
    color: #2196F3;
}
.adres-link{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/*Кнопки 2ст*/
.buttons .link:focus,
.buttons .link:hover{
    background-color: #2196F3;
    color: #FFFFFF;

}
.buttons{
    list-style: none;
    background-color: F5F4FA;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
/*Список проектів*/
.project-list {
    list-style: none;
}
.project-name {
    font-size: 18px;
    line-height: 2;
}
.project {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}