/*Основной колір тексту #212121 */

/*Другорядний колір тексту #757575 */

/*Колір Веб студіо блакитний #2196F3
 темний #000000; */
 /* Колір тексту білий #FFFFFF */
/* Колір тексту ссилок футер  rgba(255, 255, 255, 0.6)*/

span{ 
    color: #2196F3;
}
.logo{
    color: #000000;
    text-decoration: none;
}
.site-nav{
    list-style: none;
}
.site-nav .link{
    color: #212121;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.auth-nav{
    list-style: none;
}
.auth-nav .link{
    color: #757575;
    text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196F3;
}
/*--Hero--*/
.hero-title{
    color: #FFFFFF;
    background-color: #212121;
}
.button{
    color: #FFFFFF;
    background-color: #2196F3;
}
.button .link:focus,
.button .link:hover{

}
/*--Section--*/
.section{

}
.section-title{
   
}
/*--Feutures--*/
.feature-list{
    color: #212121;
    list-style: none;
}
.title{
    color: #212121;
}
.text{
    color: #757575;
}
/* work*/
.work{
    color: #212121;
}
.work-logo{
    list-style: none;
}

/*---Team--*/
.section-team{

}
.team{
    color: #212121;
}
.team-logo{
    list-style: none;
}
.name{
    color: #212121;
}
.profession{
    color: #757575;
}
/*Footer*/
.footer{
    background-color: #2F303A;
}
.logo-footer{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-link:hover,
.footer-link:focus{
    color: #2196F3;

}
.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6)
  
}; 
.footer-title .adres-link{
    color: #FFFFFF;
}
.footer-title{
    list-style: none;
}
.adres-link:hover,
.adres-link:focus{
    color: #2196F3;
}
.adres-link{
    color: #FFFFFF;
    text-decoration: none;
}
/*Кнопки 2ст*/
.buttons .link:focus,
.buttons .link:hover{
    background-color: #2196F3;
    color: #FFFFFF;

}
.buttons{
    list-style: none;
    background-color: F5F4FA;
    color: #212121;
}
/*Список проектів*/
.project-list {
    list-style: none;
}
.project-name {
    color: #212121;
}
.project {
    color: #757575;
}